
body {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
        background: url(../img/bg-gray.jpg) repeat;
    color: #645f5f;
}
a, .button {
    -webkit-transition:color .3s ease-in, background-color .3s ease-in ;
    -moz-transition:color .3s ease-in, background-color .3s ease-in ;
    -ms-transition:color .3s ease-in, background-color .3s ease-in ;
    -o-transition:color .3s ease-in, background-color .3s ease-in ;
    transition:color .3s ease-in, background-color .3s ease-in ;
    cursor: pointer;
}
a {
    text-decoration: none;
}

.wrap {
    max-width: 1240px;
    margin: auto;
    padding:0 35px;
    position: relative;
}
.overlay {
    position: fixed;
    visibility: hidden;
}
.container {
    max-width: 1240px;
    padding:0 35px;
    margin: auto;
    position: relative;
}
.video-share iframe {
    border: 5px solid #ffffff;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;

}

header {
    background-color: #13191C;
    font-size: 24px;
    position: relative;
    z-index: 105;

}

.logo {

    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #FF5623;
    text-transform: uppercase;
    position: relative;

}

.logo span {
    font-size: 0.31em;
}

.logo img {
    width: 4.8em;
    position: absolute;
}

.logo h3 {
    position: absolute;
    left: 2.3em;
    top:-0.3em;
    vertical-align: top;
    display: inline-block;
    line-height: 1;
    font-size: 2.4em;
    font-weight: 900;

}

h3 {
    font-size: 46px;
    font-weight: 300;
    text-transform: uppercase;
}
h5 {
    font-size: 30px;
    font-weight: 900;
}
h6 {
    font-size: 18px;
}

.menu-toggle {
    width: 40px;
    display: block;
    position: absolute;
    right: 7px;
    bottom: 12px;
    display: none;
    z-index: 5;
    cursor: pointer;

}
.menu-toggle:before,
.menu-toggle:after,
.line
{   border-radius: 15px;
    display: block;
    content: ' ';
    background-color: #3486cb;
    width: 100%;
    height: 5px;
}
.menu-toggle:after,
.line {
    margin-top: 7px;
}

.main-menu {
    display: inline-block;
}
.main-menu li {
    display: inline-block;
}

.main-menu li a {
    display: block;
    color: #637076;
    font-family: 'Lato', sans-serif;

    font-size: 1em;
    text-transform: uppercase;
    padding: 1.9em 0.5em;
}

.main-menu li a:hover {
    color: #fff;
}
.item-dropdown {
    position: relative;
    display: inline-block;
}
.item-dropdown:hover .menu-dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) ;
    -webkit-transition: opacity .3s ease-in, transform .4s ease-in ;
    -moz-transition: opacity .3s ease-in, transform .4s ease-in ;
    -ms-transition: opacity .3s ease-in, transform .4s ease-in ;
    -o-transition: opacity .3s ease-in, transform .4s ease-in ;
    transition: opacity .3s ease-in, transform .4s ease-in ;
}
.menu-dropdown{
    visibility: hidden;
    opacity: 0;
    transform: translateY(-35px) ;
    position: absolute;
    z-index: 101;
    display: inline-block;
    top: 99%;
    left: 0;
    background-color: #13191C;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.menu-dropdown li {
    display: block;
    
}
.menu-dropdown li a {
    display: block;
    width: 240px;
    font-size: 14px;
    line-height: 1;
    padding: 15px 50px 15px 30px;
    text-transform: none;
    color: #fff;
    position: relative;

}
.menu-dropdown li a:hover {
    background-color: #03a9f4;

}
.menu-dropdown li a:hover:after {
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 24px;
    top: 9px;
    position: absolute;
    right: 20px;
}
header i.fa.fa-search {
    position: relative;
    margin-left: 0.8em;
    margin-right: 0.8em;
    font-size: 2.8em;
    color: #03a9f4;

}
.search-button {
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;

    z-index: 6;
}
.search-button i.fa.fa-search:hover {
    color: #fff;
}
.search-box {
    position: absolute;
    display: inline-block;
    font-size: 20px;
    visibility: hidden;
    z-index: 6  ;
    top: 100%;
    bottom: 0px;
    left: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    right: 20px;
    -webkit-transition:bottom .3s ease-in ;
    -moz-transition:bottom .3s ease-in ;
    -ms-transition:bottom .3s ease-in ;
    -o-transition:bottom .3s ease-in ;
    transition:bottom .3s ease-in ;

}
.search-form {
    display: inline-block;
}

input[type='search'] {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    height: 40px;
    width: 100%;


}
#search {
    display: none;
}
.layer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
}
.layer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    visibility: hidden;
}
.search-open + .layer {
    visibility: visible;
}
.search-box.search-open {
    visibility: visible;
    top: 100%;
    bottom: -40px;
    opacity: 1;

}
#search:checked + label > .layer {
    visibility: visible;
}
.slider-1 {

    width: 100%;

}

.slider-1 .wrap {
    padding-top:200px;
    padding-bottom: 200px;
}

.slider-1 h1 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 92px;


}
.slide {
    width: 100%;
}
.slider-1 a {
    position: absolute;
    z-index: 101;
    bottom: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px 23px;
}

.slider-1 .prev {
    left: 35;
}

.slider-1 .next {
    left: 105px;
}

.slider-1 a:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.slide-1 {
    background: url(../img/banner.jpg);
    background-size: cover;
    height: 700px;
}
.slide-2 {
    background: url(../img/banner-slide.jpg);
    background-size: cover;
    height: 700px;
}
.slide-3 {
    background: url(../img/banner-slide-2.jpg);
    background-size: cover;
    height: 700px;
}
.slider-2 .ba-grid {
    width: 100%;
}
.click {
    background-color: #FF5623;
    padding: 70px 0;
}

.click h4 {
    font-size: 38px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff;

}

.button {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    background-color: #FF5623;
    border: 2px solid #fff;
    padding: 25px 50px;
    font-size: 28px;
}

.button:hover {
    background-color: #fff;
    color: #FF5623;
}

h2 {
    font-size: 72px;
    color: #263238;
    text-transform: uppercase;

}

.color-orange {
    color: #FF5623 !important;
}

.color-white {
    color: #fff !important;
}

.color-blue {
    color: #03a9f4 !important;
}

.color-gray {
    color: #607d8b !important;
}
.italic {
    font-style: italic;
}
b {
    font-weight: 900;

}

.market-info {
    padding-top: 125px;
    padding-bottom: 110px;
}

.market-info .wrap > p {
    padding-top: 45px;
    padding-bottom: 90px;
    line-height: 1.4;
}

.market-info img {
    margin-bottom: 50px;
    width: 100%;

}

.market-info h6 {
    font-size: 18px;
    padding: 15px 0;

}

.market-info a {
    color: #0DA9F2;
    font-weight: 900;
    font-size: 30px;
}

.market-info a:hover {
    color: #FF5623;
}

.market-info .ba-grid p {
    padding: 0 0 30px;
    font-size: 14px;
    line-height: 1.4;
    color: #211f1f;
}

.market-info .button {
    font-size: 15px;
    padding: 20px 25px;
    color: #fff;
    border: none;
    font-weight: normal;

}

.market-info .button:hover {
    background-color: #898989;
    color: #fff;
}

.bg-stone {
    background: url(../img/bg-stone.jpg) no-repeat;
    background-size: cover;
    padding: 70px 0;

}

.bg-stone h2 {

    padding-bottom: 70px;
}

.bg-stone h3 {
    color: #03a9f4;
    padding-top: 0;
}

.bg-stone h6 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 10px;
}

.video-share {
    width: 100%;
    padding-bottom: 59%;
    position: relative;
}
.stones img[alt='stone'] {
    width: 100%;
    display: inline-block;

    display: block;
}

.bg-stone img[alt='stone'] {
    width: 100%;
}
.bg-stone p {
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
}

.stones {
    background-color: #fff;
    padding: 70px 0;
}

.stones h2 {
    color: #263238;

}

.stones .wrap > .ba-grid {
    margin-top: 60px;
}

.stones img[alt='stones'] {
    height: 70px;

    display: block;
}

.stones img[alt='stones'] + p {
    font-weight: 900;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #FF5623;
    margin-top: 30px;
}

.stones h6 {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
}

.stones p {
    font-size: 16px;
    line-height: 1.5;
    color: #211f1f;
    font-weight: 300;
}

.box-people {
    border-radius: 10px;
    background: #fff url(../img/quotes.png) no-repeat 20px 20px;
    padding: 10px 30px 90px 45px;
    position: relative;

}
.box-people p {
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
}

.slider-2 .ba-width-medium-1-3 {
    padding-bottom: 95px;
}
.box-people img {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top:100%;
}

.bg-stone a[class*="fa"] {
    color: #93908a;
    font-size: 60px;
    display: inline-block;
    margin: 100px 2px 0;
    margin-bottom: 20px;

}
a[class*="fa"]:hover {
    color: #FF5623;
}

.padding-top-75 {
    padding-top: 75px;
}
.news p {
    font-size: 14px;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 15px;
}
.news+.news {
    margin-top: 50px;
}
.news a {
    font-size: 12px;
    color: #93908a;
}

.news-box h5 {
    margin-bottom: 25px;
}
.news-box h2 {
    padding-bottom: 75px;
}
.news-box img[alt='rem'] {
    width: 100%;
}
.news-box img[alt='rem']:last-child {
    margin-top: 20px;
}
.news a:hover{
    color: #FF5623;
}
.circle  span{
    width: 25px;
    font-size: 0;
    height: 25px;

    border-radius: 50%;
    background-color: #928F89;
    display: inline-block;


}
.slider-3 .ba-grid {
    width: 100%;
    height: 100%;
}
.circle  span + span {
    margin-left: 5px;
}
.circle {
    margin: 25px 0;
}
.cycle-pager-active {
    background-color: #FF5623 !important;
}
.bg-tile {
    background: url(../img/bg-room.jpg) no-repeat;
    background-size: cover;
    padding: 80px 0;
}
.table,
.table-content{
    border: 1px solid #fff;
    width: 100%;
    padding: 10px 30px 10px 55px ;
    position: relative;
}



.table-content  {
    visibility: hidden;
    overflow: hidden;
    padding: 0;
    margin-top: -1px;
    margin-bottom: -2px;
    border: 1px solid #fff;
    height: 0;
    /*-webkit-transition: height 3s linear, visibility .3s ease-in,border .3s ease-in ;*/
    /*-moz-transition: height 3s linear, visibility .3s ease-in,border .3s ease-in ;*/
    /*-ms-transition: height 3s linear, visibility .3s ease-in,border .3s ease-in ;*/
    /*-o-transition: height 3s linear, visibility .3s ease-in,border .3s ease-in ;*/
    /*transition: height 3s linear, visibility .3s ease-in,border .3s ease-in ;*/
    /*display: none;*/
}
.table i[class*="fa"] {
    
    font-size: 16px;
    position: absolute;
    left: 10px;

}
.hidden {
    visibility: hidden;
}
.table {
    margin-top: -1px;
    /*margin-bottom: -1px;*/
}
.table p,
.table-content p{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

.table-content p {

    line-height: 1.5;
}
.table i[class*="plus"] {
    color: #fff;
    cursor: pointer;
}
.table i[class*="minus"] {
    color: #03a9f4;
    display: none;
    cursor: pointer;
}
[id*="list-dropdown"] {
    display: none;

}
.acordion input:checked + .table + .table-content {
    /*display: block;*/
    height: 100%;
    padding: 20px 30px 25px 55px;
    border: 1px solid #03a9f4;
    margin-top: -1px;
    margin-bottom: 0;
    visibility: visible;
    position: relative;
    z-index: 1;

}
.acordion input:checked + .table + .table-content p {
    color: #03a9f4;
}
.acordion input:checked + .table {
    border-color: #03a9f4;
}
.acordion input:checked + .table p {
    color: #03a9f4;
    font-weight: bold;
}
.acordion input:checked + .table .fa-plus-circle {
    display: none;
}
.acordion input:checked + .table .fa-minus-circle {
    display: block;
}
.bg-tile div[class|='width'] {
    width: 100%;
    background-color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
}
.bg-tile div[class|='width'] p {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
.bg-tile div[class|='width']:first-child {
    margin-top: 0;
}
.bg-tile div[class|='width'] > div {
    padding: 12px 0px 12px 25px;
    position: relative;
}

.width-95 > div {
    width: 95%;
}
.width-80 > div {
    width: 80%;
}
.width-64 > div {
    width: 64%;
}
.width-79 > div {
    width: 79%;
}
.bg-red {
    background-color: #E41C23;
}
.bg-blue {
    background-color: #0CA9F2;
}
.bg-green {
    background-color: #219A28;
}
.bg-orange {
    background-color: #FE970E;
}
.procents {
    background-color: #35393E;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.procents p {
    padding: 15px 10px;
}
.bg-tile h6 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 15px;
}
.bg-tile p{
    font-weight: 300;
}
.font-size-20 {
    font-size: 20px;
}
.bg-tile .button {
    border:none;
    font-size: 18px;
    padding: 17px 33px;
    margin-top: 20px;
}

.services h3 {
    font-size: 66px;
    font-weight: bold;
    color: #fff;
    padding: 35px 0;
}
.services span {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    padding: 50px 0;
}
.form {
    background-color: #E9E7E1;
    text-align: center;
    padding: 120px 0;
}
.form .social {
    margin-top: 90px;
    margin-bottom: 55px;
}
.social a {
    height: 65px;
    width: 65px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #263238;
    position: relative;
    color: #263238;
}
.social a:hover {
    color: #eae8e2;
    background-color: #263238;
}
.social a i {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    font-size: 29px;
    height: 29px;
    margin: auto;
}
.message{
    width: 100%;
}
.form textarea {
    padding: 20px 25px;
    display: block;
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    height: 205px;
    border-radius: 7px;
    border: 1px solid #263238;
    background-color: #E9E7E1;

}
.message input {
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box ;
    box-sizing: border-box ;
    width: 49%;
    border-radius: 7px;
    border: 1px solid #263238;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding: 20px 25px;
    display: block;
    float: left;
    background-color: #E9E7E1;

}
.message input +input {
    margin-left: 2%;
}
.message .button {
    margin-top: 50px;
    border: none;
}
.message .button:hover {
    background-color: #777777;
    color: #fff;
}
.message .button:active {
    box-shadow: inset 0 0 15px #000;
}
.footer-top {
    background-color: #263238;
    text-align: center;
    padding: 95px 0;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.footer-top a {
    color: #3486cb;
}
.footer-top a span {
    color: #e00f19;
}
.scroll-up {
    position: fixed;
    font-size: 37px;
    color: #535353;
    z-index: 50;
    bottom: 90px;
    right: 50px;
}
.scroll-up:hover {
    color: #FF5623;
}
@media (max-width: 1366px) {
    header {
        font-size: 18px;
    }
    .slide-1 {
        height: 600px;
    }
    .slide-2 {
        height: 600px;
    }
    .slide-3 {
        height: 600px;
    }
    .slider-1 .wrap {
        padding-top:150px;
        padding-bottom: 150px;
    }
}

@media (max-width: 1220px) {
    header {
        font-size: 14px;
    }
    .slider-1 h1 {
        font-size: 80px;
    }

}
@media (max-width: 1150px) {
    .services {
        text-align: center;
    }
    .services .ba-float-left,
    .services .ba-float-right {
        float:none;
    }
}
@media (max-width: 960px){
    .logo h3 {
        display: none;
    }
    [class|='ba-width-large'] + [class|='ba-width-large'] {

        margin-top: 20px;
    }
    [class|='ba-width-large']:nth-child(2) {

        margin-top: 0;
    }
    [class*='ba-width-large-1-5']:nth-child(3) {
        margin-top: 0;
    }
    .logo {
        width: 4.8em;
    }
    .slider-1 h1 {
        font-size: 60px;
    }
    .slide-1 {
        height: 400px;
    }
    .slide-2 {
        height: 400px;
    }
    .slide-3 {
        height: 400px;
    }
    .slider-1 .wrap {
        padding-top:100px;
        padding-bottom: 100px;
    }
    .slider-1 a {

        padding: 10px 15px;
    }
    .slider-1 a img {
        width: 15px;
    }
    .slider-1 .next {
        left: 82px;
    }
    .slider-1 a {
        bottom: 30px;
    }
    .circle span {
        width: 20px;
        height: 20px;
    }


}
@media (max-width: 768px){
    header {
        height: 3.8em;
        position: fixed;
        width: 100%;
    }
    .logo img{
        width: 3.8em;
    }

    .main-menu {
        visibility: hidden;
        position: fixed;
        left: 100%;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
        padding-top: 3.8em;
        background-color: #000;
        -webkit-transition: all .6s ease-in;
        -moz-transition: all .6s ease-in;
        -ms-transition: all .6s ease-in;
        -o-transition: all .6s ease-in;
    }

    .main-menu li {
        display: block;
    }
    .main-menu li a {
        padding: 10px 50px ;
        color: #fff;
    }
    .main-menu>li:hover> a {
        color: #03a9f4;
    }
    .menu-toggle {
        display: block;
    }
    .menu-open .main-menu {

        left: 60%;
        background-color: #000;
        z-index: 5;
        visibility: visible;


    }
    .overlay {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all .6s ease-in;
        -moz-transition: all .6s ease-in;
        -ms-transition: all .6s ease-in;
        -o-transition: all .6s ease-in;
        transition: all .6s ease-in;

    }
    .menu-open .overlay {
        visibility: visible;
        position: fixed;
        z-index: 4;

        background-color: rgba(0, 0, 0, 0.41);
        opacity: 1;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
    }
    .menu-dropdown {
        background-color: #000;
        position: static;
        opacity: 1;
        visibility: visible;
        transform: none;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;


    }
    .menu-dropdown li {
        width: 100%;

    }
    .menu-dropdown li a {
        padding-left: 70px;
        width: 100%;
        
    }
    .menu-dropdown li a:hover:after {
        content: '\f104';
        font-family: 'FontAwesome';
        font-size: 24px;
        top: 6px;
        position: absolute;
        left: 20px;
    }
    header i.fa.fa-search {
        margin: 0;
    }
    .search-button {
        margin-left: 0em;
        margin-right: 0.2em;
        padding: 0;
        top: 5px;
        right: 60px;
    }

    .bg-stone img[alt='stone']{
        width: 33%;
        display: block;
        float: left;
        margin: 20px 0 20px 0.5%;
    }
    .bg-stone img[alt='stone']:first-child {
        margin-left: 0;
    }
    .box-people {
        margin-bottom: 100px;
    }
    [class|='ba-width-medium'] {
        padding-left: 0 !important;
    }
    [class|='ba-width-medium'] + [class|='ba-width-medium'] {

        margin-top: 20px;
    }
    [class='ba-width-large-1-5']:nth-child(3) {
        margin-top: 0;
    }
    .ba-grid {
        margin-left: 0;
    }
    .click {
        text-align: center;
    }
    .click h4 {
        display: block;
        text-align: left;
    }
    .click [class|="ba-width-medium"] {
        text-align: center;
    }
    .message input {
        width: 100%;
    }
    .message input + input {
        margin-left: 0;
        margin-top: 15px;
    }
    .news-box {
        padding-bottom: 25px;
    }
    h2 {
        font-size: 53px;
    }
    .slider-1 h1 {
        font-size: 53px;
    }
    .scroll-up {
        right: 10px;
        bottom: 10px;
    }
}
@media (max-width: 600px){
    .menu-open .main-menu {
        left: 40%;
      }
    .main-menu li a {
        padding-left: 20px;
    }
    .menu-dropdown li a {
        padding-left: 30px;
    }
    .menu-dropdown li a:hover:after {
        top: 5px;
        left: 10px;
    }
    [class*='ba-width-large-1-5'] {
        display: none;
    }
    .button {
        padding: 15px 20px;
        font-size: 20px;
    }
    .click h4 {
        font-size: 28px;
    }
}

@media (max-width: 480px){
    .slider-1 h1 {
        font-size: 36px;
    }
    .menu-open .main-menu {
        left: 25%;
    }
    .ba-grid > [class*='ba-width-small'] + [class*='ba-width-small'] {
        margin-top: 20px;
    }

}